@charset "utf-8";

/* stylelint-disable */
 /* function_v2 no need to  check */

// 常用变量：
// 使用方法：color: $color_red;
$color_red: #e4393c !default;
$color_blue: #3985ff !default;
$color_sams: #1a68bc !default;
$btn_blue: #3985ff !default;
$btn_red: #e4393c !default;
$btn_orange: #f19325 !default;
$btn_disabled: #ccc !default;
// z-index 取值范围，z-index 最大值不得超过 700
// floating/吸顶/吸底：101～200
$index_float: 101;
// 弹窗：201～300
$index_popup: 201;
// loading/分享蒙层：301～400
$index_mask: 301;


// 继承：
// 使用方法：@extend %yen;
// 默认字体
%font_default {
    font-family: -apple-system, Helvetica, sans-serif;
}
// ¥符号
%yen {
    font-family: arial;
}
// flexbox 布局
%flexbox {
    display: flex;
    overflow: hidden;
}
// flex 均分
%flex {
    display: block;
    width: 100%;
    flex: 1;
}
// 取消 flex 均分
%flex_none {
    flex: none;
}
// border-box
%border_box {
    box-sizing: border-box;
}
// 清除表单样式
%clearinput {
    border: none;
    background: none;
    appearance: none;
    border-radius: 0;
}
// 清除浮动
%clearfix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
// 隐藏滚动条
%scrollbar_none {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }
}
// 文字省略：单行
%oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// 文字省略：两行
%twoline {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


// 混合：
// 使用方法：@include line(3);

// 文字省略：自定义多行
// $num:［行数］
// 使用：@inlucde line(3);
@mixin line($num: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    @if ($num == 1) {
        white-space: nowrap;
    }
    @else {
        display: -webkit-box;
        -webkit-line-clamp: $num;
        -webkit-box-orient: vertical;
    }
}

// 安卓设备对齐修复
// $position:［位置］before(默认), after
// $margintop: [偏移值] 默认 1px
// 使用：@include alignhack; 或 @include alignhack(after,2px);
@mixin alignhack($position: before, $margintop: 1px) {
    &::#{$position} {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        margin-top: $margintop;
    }
}

// 平滑滚动
// $orientation:［方向］x, y
// 使用：@include scroll; 或 @include scroll(x); @include scroll(y);
@mixin scroll($orientation: '', $scrollbar: '') {
    -webkit-overflow-scrolling: touch;
    @if ($orientation == '') {
        overflow: auto;
    }
    @else {
        overflow: hidden;
        overflow-#{$orientation}: auto;
    }
    @if $scrollbar == none {
        @extend %scrollbar_none;
    }
}

// 箭头图标
// $position:[指向] top, bottom, left, right
// $borderColor:[边框颜色]
// $width:［箭头边框长度］
// 使用：@include arrow(left,#ddd);
@mixin arrow($position, $borderColor: #666, $width: 8px) {
    content: '';
    display: block;
    width: $width;
    height: $width;
    border-top: 1px solid $borderColor;
    border-left: 1px solid $borderColor;
    transform-origin: 50%;
    @if $position == top {
        transform: rotate(45deg);
    }
    @if $position == bottom {
        transform: rotate(-135deg);
    }
    @if $position == left {
        transform: rotate(-45deg);
    }
    @if $position == right {
        transform: rotate(135deg);
    }
}

// 占位图
// $pre:［图片比例值］h/w
// 使用：@include placeholder; 或 @include placeholder(150/750);
@mixin placeholder($per: 1) {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: percentage($per);
    img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
    }
}

// 修改优惠券底色接口
// dotColor:［优惠券上下圆点底色］
// 使用：@include coupon_area_bgColor(#ddd);
@mixin coupon_area_bgColor($dotColor:#e8e8ed) {
    background-color: $dotColor;
    .mod_coupon_hr {
        // 分割两个大点的颜色跟整体背景底色一致
        &::before, &::after{
            background: $dotColor !important;
        }
    }
}

// 1像素边框
// $position:［边框位置］top, bottom, left, right
// $color:［边框颜色］
// $radius:［圆角］
// 使用：@include border(top, #ddd); 或 @include border(full, #ddd, 2px);
@mixin border($position: full, $borderColor: #ddd, $radius: 0) {
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: $borderColor;
    @if $position == top {
        height: 1px;left: 0;right: 0;top: 0;
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                -webkit-transform: scaleY(0.5);
                -webkit-transform-origin: 50% 0%;
            }
        }
    }
    @if $position == bottom {
        height: 1px;left: 0;right: 0;bottom: 0;
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                -webkit-transform: scaleY(0.5);
                -webkit-transform-origin: 50% 100%;
            }
        }
    }
    @if $position == left {
        width: 1px;top: 0;bottom: 0;left: 0;
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                -webkit-transform: scaleX(0.5);
                -webkit-transform-origin: 0% 50%;
            }
        }
    }
    @if $position == right {
        width: 1px;top: 0;bottom: 0;right: 0;
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                -webkit-transform: scaleX(0.5);
                -webkit-transform-origin: 100% 50%;
            }
        }
    }
    @if $position == full {
        border: 1px solid #ddd;top: 0;bottom: 0;left: 0;right: 0;
        background: none;
        border-color: $borderColor;
        @if $radius != 0 {
            border-radius: $radius;
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2) {
            &{
                right: -100%;
                bottom:-100%;
                -webkit-transform:scale(0.5);
                -webkit-transform-origin: 0% 0%;
                $radiusx2: null;
                @each $i in $radius {
                    $radiusx2: append($radiusx2, $i * 2);
                }
                @if $radius != 0 {
                    border-radius: $radiusx2;
                }
            }
        }
    }
}

// 吸顶元素
// $dom:［內容器选择器］
// $height:［外容器站位高度］
// $top:［吸顶时距离顶部距离］
// $zIndex:［z-index数值］
// 使用：@include sticky('ul', 40px, 0, 10); 或 @include sticky('.wrap', 40px);
@mixin sticky($dom, $height, $top:0, $zIndex:$index_float) {
    position: relative;
    height: $height;
    z-index: $zIndex;
    &.fixed #{$dom} {
        position: fixed;
        top: $top;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 540px;
        z-index: $zIndex;
    }
    @supports (position: -webkit-sticky) {
        & {
            position: -webkit-sticky;
            top: $top;
            &.fixed #{$dom} {position: relative;top:0;}
        }
    }
}

// 滚动盒子
// $dom:［子元素选择器］
// $scrollbar:［是否可滚动］default, normal（可换行、不滚动）, noscroll（不换行、不滚动）
// 使用：@include scrollbox(li); 或 @include scrollbox(li, normal); 或 @include scrollbox(li, noscroll);
@mixin scrollbox($dom, $scrollbar: 'default') {
    font-size: 0;
    font-family: none;
    @if ($scrollbar == 'default') or ($scrollbar == 'none') {
        white-space: nowrap;
        @include scroll('x', 'none');
    }
    @else if ($scrollbar == 'normal') {
        white-space: normal;
    }
    @else if ($scrollbar == 'noscroll') {
        white-space: nowrap;
    }
    #{$dom} {
        display: inline-block;
        vertical-align: top;
        @extend %font_default;
    }
}

// 按钮
// 使用：@include btn(100px, 40px, 14px); 或 @include btn(100px, 40px, 14px, 4px);
@mixin btn($width, $height, $fontSize, $radius: 2px) {
    display: block;
    width: $width;
    height: $height;
    line-height: $height;
    text-align: center;
    border-radius: $radius;
    font-size: $fontSize;
}
// 按钮背景色
// 使用：@include btn_bg(#ddd); 或 @include btn_bg(#ddd, #999);
// 使用现有颜色按钮：@include btn_bg($btn_blue); 或 @include btn_bg($btn_red); 等...
@mixin btn_bg($bgColor, $color:#fff) {
    background: $bgColor;
    &:active {background: darken($bgColor,5%);}
    @if $bgColor == $btn_disabled {
        color: #999;
    }
    @else if $bgColor == #fff {
        position: relative;
        color: #333;
        &::after {
            @include border(full,#ddd,2px);
        }
    }
    @else {color: $color;}
}

// 按钮改进版
// $width:［按钮宽度］
// $height:［按钮高度］
// $fontsize:［字体大小］
// $bgcolor:［按钮背景色］
// $color:［文字颜色］默认 #fff
// $radius:［按钮圆角］默认 2px
// 使用：@include button(100px, 40px, 14px, $color_red); 或 @include button(100px, 40px, 14px, $color_red, #fff, 5px);
@mixin button($width, $height, $fontsize, $bgcolor, $color: #fff, $radius: 2px) {
    display: block;
    width: $width;
    height: $height;
    line-height: $height;
    text-align: center;
    font-size: $fontsize;
    border-radius: $radius;
    background-color: $bgcolor;
    &:active {
        background-color: darken($bgcolor,5%);
    }
    @if ($bgcolor == $btn_disabled) {
        color: #999;
    }
    @else {
        color: $color;
    }
}

// 媒体查询
// 使用：@include query(320px) {...};
@mixin query( $limit ) {
    @media screen and ( min-width: $limit) {
        & {
            @content;
        }
    }
}

// rem 函数
// 使用：width: rem(100);
$rem_grid: 20 !default;
@function rem($val){
    $rem : $val / $rem_grid;
    @if $rem == 0 {
        @return #{$rem} ;
    }@else{
        @return $rem / ($rem * 0 + 1) * 1rem; // 带不带px单位都支持
    }
}

// 屏幕适配
// $width: [设计稿宽度]，默认 375，旧设计稿 320
// 使用： @include vw_viewport; 或 @include vw_viewport(320);
@mixin rem_query($width: 375) {
    $vw_base: $width;
    $vw_fontsize: 20;
    html {
        font-size: 20px;
        font-size: ($vw_fontsize / $vw_base) * 100vw;
        @media screen and (max-width: 320px) {
            font-size: ($vw_fontsize / $vw_base) * 320px;
        }
        @media screen and (min-width: 540px) {
            font-size: ($vw_fontsize / $vw_base) * 540px;
        }
    }
}

// 雪碧图合并
// $name:［雪碧图名称］
// $img:［图标文件名］
// $rem:［单位］rem/px
// $defineSize: boolean，表示启用自定义的 width, height
// $rootvalue:［如果是rem需要指定一个rootvale值］
// 使用：@include as('halo', 'icon_halo'); 或 @include as('halo', 'icon_halo', rem);
@mixin as($name:sprite,$img:'',$rem: 'px', $defineSize: false, $rootvalue: 20){
    @if($rem != 'rem'){
        $rem: 'px';
    }
    @else if($rem =='rem'){
        $rem: 'rem=#{$rootvalue}';
    }
    $widthHeight: 'unWidthHeight';
    @if($defineSize) {
        $widthHeight: 'widthHeight';
    }
    @if(''!=$img){
        background: url(images/#{$img}@2x.png?__sprite=#{$name}&__#{$widthHeight}&__#{$rem});
    }
}

 /* stylelint-enable */